# 실습 4 
1. 5명의 id.pwd,age,sex를 저장할 수 있는 dataFrame 생성 

* seris의  dict이용하여 생성

* index    : id

* column : pwd,age,sex

In [1]:

import numpy as np
import pandas as pd

from IPython.display import display

 (1) pandas의 Series를 이용 하여 구성(리스트와 비슷하다)
 
 (2) 딕션너리 형태로 pwd,age,sex를 구성한다.
 
 (3) DataFrame -> 복수의 Series를 합친다.
 
 (4) Frame의 인덱스(행)를 id 로 설정.
 
 (5) 열은 pwd,age,sex로 차례로 설정.

In [2]:
id = ['kjs','jie','toe','tod','res']

arr =pd.DataFrame( 
    {    
         "pwd"   : pd.Series(['q1w2w3','ted551','9i8u7y','0d04e','0w3ki2'],dtype='str'),
         "age"   : pd.Series([20,25,35,22,32],dtype='int32'),
         "sex"   : pd.Series([1,0,1,0,1],dtype='int32')
      })

arr.index = id

display(arr)

        pwd  age  sex
kjs  q1w2w3   20    1
jie  ted551   25    0
toe  9i8u7y   35    1
tod   0d04e   22    0
res  0w3ki2   32    1


(1)특정 id, 특정 pwd 추출
  - loc 행을 인덱싱 하면서 동시에 열도 인덱싱이 가능하다.
  - kjs(0) ~ res(4)까지 pwd를  출력 한다.

In [17]:
print(arr.loc["kjs":"res","pwd"])

kjs    q1w2w3
jie    ted551
toe    9i8u7y
tod     0d04e
res    0w3ki2
Name: pwd, dtype: object

(2)상위 3명만 추출 (loc, iloc 사용)

iloc : integer positon(몇 번째 row인지)를 통해서 값을 찾는다. label로는 못찾는다.

In [3]:
display(arr.iloc[:3])

        pwd  age  sex
kjs  q1w2w3   20    1
jie  ted551   25    0
toe  9i8u7y   35    1

loc : label(어떤 이름의 row)을 통해서 값을 찾는다. integer position로는 못찾는다.

In [4]:
display(arr.loc['kjs':'toe'])

        pwd  age  sex
kjs  q1w2w3   20    1
jie  ted551   25    0
toe  9i8u7y   35    1

(3)나이와 성별만 추출

   1.인덱스 슬라이스를 통해서 age,sex열만을 출력 한다. ( 모든행에 , 1열 부터 : 2열까지 모든 값을 불러와라)
   
   2.라벨을 통해서 age,sex열만을 출력 한다. (모든 행에, colnums 명이 age,sex인 모든 값을 불러와라 )

In [5]:
print("======iloc=======")
print(arr.iloc[:,1:3])

print("======loc=======")

print(arr.loc[:,"age":'sex'])

======iloc=======
     age  sex
kjs   20    1
jie   25    0
toe   35    1
tod   22    0
res   32    1
======loc=======
     age  sex
kjs   20    1
jie   25    0
toe   35    1
tod   22    0
res   32    1

(4)나이가 20대만 추출

 - loc를 통해서 age행만을 추출 하여 >= 20 & < 30 작은 값만을 추출한다.
   (2개의 마스크 행 인덱스를 넣다.)
 - 두가지 마스크가 True인 경우만 출력.
 - age가 20보다 크거나 같으면서  30 보다 작은 모든 행이 출력 된다.

In [6]:

#mask = (arr.iloc[:,1:2]>=20) & (arr.iloc[:,1:2]<30)
#mask = arr[arr.age>=20] & arr[arr.age<30] 
#display(mask)
#arr[:].isin(arr[mask])
#rint( arr.iloc[(arr[:,1:2].values>=20) & (arr[:,1:2].values<30), :] ) 

print( arr.loc[(arr['age']>=20) & (arr['age']< 30), :] )

        pwd  age  sex
kjs  q1w2w3   20    1
jie  ted551   25    0
tod   0d04e   22    0

(5)성별이 male(남)인 경우만 추출
  - 0 여자.
  - 1 남자.
  
 - loc를 통해서 sex행만을 추출 하여 == 1 일치하는 값을 추출.
   (1개의 마스크 행 인덱스를 넣다.)
 - 마스크가 True인 경우만 출력.
 - sex가 남자인 모든 행이 출력 된다.

In [7]:

print(arr.loc[arr['sex']==1])

        pwd  age  sex
kjs  q1w2w3   20    1
toe  9i8u7y   35    1
res  0w3ki2   32    1

(6)나이가 30미만인 여성만 추출

 - loc를 통해서 sex행 추출 하여 == 0 일치하는 값과  age행이 < 30 작은 값을 추출.
   (2개의 마스크 행 인덱스를 넣다.)
 - 두개의 마스크가 True인 경우만 출력.
 - sex가 여자이면서 나이가 30보다 작은 모든 행이 출력 된다.

In [8]:
print(arr.loc[ (arr['sex']==0) & (arr['age']<30), :])

        pwd  age  sex
jie  ted551   25    0
tod   0d04e   22    0